{% extends "main/base.html" %}

{% block title %}Войти{% endblock %}

{% block content %}
    <form method="post" action="{% url 'login' %}?next={{ next }}" class="login-form">
        <fieldset class="form-group">
            <legend>Войти</legend>
            {% csrf_token %}
            <p>Введите email</p>
            {{ login_form.email }}<br><br>
            <p>Введите пароль</p>
            {{ login_form.password }}<br><br>
            <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
            <button type="submit" class="btn btn-primary">Войти</button>
        </fieldset>
    </form>
{% endblock %}
