{% extends "main/base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <form method="post" action="{% url 'register' %}" class="register-form">
        <fieldset class="form-group">
            <legend>Создать аккаунт</legend>
            <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
            {% csrf_token %}
            <p>Введите email</p>
            <!--здесь нужно автозаполнение поля емайл-->
            {{ register_form.email }}<br><br>
            <p>Введите пароль</p>
            {{ register_form.password1 }}<br><br>
            <p>Повторите пароль</p>
            {{ register_form.password2 }}<br><br>
            <p>Выберите категорию</p>
            {{ register_form.group }}<br><br>
            <button type="submit" class="btn btn-primary">Создать аккаунт</button>
        </fieldset>
    </form>
{% endblock %}
