{% extends 'main/base.html' %}
{% load static %}

{% block title %}Добавить рецепт{% endblock %}

{% block content %}
    <div class="create_recipe">
        <form method="post" enctype="multipart/form-data" class="form-create-recipe">
            <h3>Добавить свой рецепт</h3>
            {% csrf_token %}
            <p>Категория блюда</p>
            {{ form_recipe.category }}<br><br>
            {{ form_recipe.title }}<br><br>
            {{ form_recipe.description }}<br><br>
            <p>БЖУ:</p>
            <div class="p_f_c-form">
                {{ form_recipe.protein }} <p>/</p> {{ form_recipe.fat }} <p>/</p> {{ form_recipe.carbohydrates }}
            </div>
            <br>
            <p>Калорийность:</p>
            {{ form_recipe.kkal }}<br>
            <p>Цена, руб.</p>
            {{ form_recipe.price }}<br><br>
            {{ form_recipe.cooking_time }}<br><br>
            <div>
                <label for="id_image" class="btn">Фото</label>
                {{ form_recipe.image }}<br><br>
            </div>
            <p>Ингредиенты</p>
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="row form-row spacer">
                    <div class="">
                        <div class="input-group ingredient">
                            <ul>
                                <li>{{ form.name }}</li>
                                <li>{{ form.qty }}</li>
                                <li>{{ form.unit }}</li>
                            </ul>
                            <div class="">
                                <button class="btn btn-success add-form-row">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <span>{{ error }}</span><br>
            <button type="submit" class="btn btn-primary">Создать</button>
        </form>
        <!--скрипт Select2 для поиска и выбора ингредиентов-->
        <script type="text/javascript">
            $(document).ready(function() {
                $('.js-example-basic-single').select2({
                    placeholder: "Выберите ингредиент",
                    allowClear: true
                });
            });
        </script>
        <script type="text/javascript" src="{% static 'main/js/dynamic_formset.js' %}"></script>
    </div>

{% endblock content %}