{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<div class="wrap-one-recipe">
    <div class="one-recipe a-recipe">
        <h3 class="title-one-recipe">{{ recipe.title }}</h3>
        {% if user.is_authenticated and recipe.owner == user %}         <!--если юзер является создателем рецепта-->

                <a href="{% url 'edit_recipe' recipe.id %}" class="edit-recipe-button">
                    <button type="button" class="btn btn-secondary btn-sm">Редактировать</button>
                </a>

        {% endif %}
        <img src="{{ recipe.image.url }}" alt="recipe" style="width: 500px;">
        <p>Описание рецепта:</p>
        <p>{{ recipe.description }}</p><br>
        <p>Цена:</p>
        {{ recipe.price }} руб.<br><br>
        <p>Время приготовления: {{ recipe.cooking_time }}</p><br>
        <form method="post" action="{% url 'cart_add' recipe.id %}">
            {% csrf_token %}
            <p>Кол-во порций</p>
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Кол-во">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Добавить</button>
                </span>
            </div>
        </form>
    </div>

    <div class="ingredients a-recipe">
        <!--блок ингридиентов-->
        <h3 class="title-one-recipe">Ингредиенты</h3>
        {% for ingredient in recipe.ingredients.all %}
            <p>{{ ingredient.name }} {{ ingredient.qty }} {{ ingredient.get_unit_display }}</p><br>
        {% endfor %}
        <p class="price"></p>
    </div>
</div>
{% endblock content %}
