<div class="recipe_card-wrap">
    <span id="recipeModal__close" class="close-recipe_card"></span>
    <div class="title-recipe">
        <h3 class="title-one-recipe">Заголовок</h3>
    </div>
    <div class="img-recipe">
        <img src="" alt="recipe">
    </div>
    <div class="recipe_info">
        <div class="description_recipe">
            <p>Описание</p>
        </div>
        <div class="energy_value-info">
            <div class="kkal">
                <p class="value_energy_kkal">kkal</p>
                <p>ккал</p>
            </div>
            <div class="prot_fat_carb">
                <p class="value_energy_pfc">белки/жиры/углеводы</p>
                <p>БЖУ</p>
            </div>
            <div class="cook_time">
                <p>Приготовление:</p>
                <p><strong>время</strong></p>
            </div>
            <div class="count_persons">
                <p>Количество на:</p>
                <p><strong>1 персону</strong></p>
            </div>
        </div>
        <div class="ingredients_recipe">
            <!--блок ингридиентов-->
            <div class="title_ingredients">
                <h4 class="title-one-recipe">ИНГРЕДИЕНТЫ</h4>
                <h4>порций 1</h4>
            </div>
            <div class="ingredient_list-card">

            </div>
        </div>
        <div class="cooking">
            <h4>ПРИГОТОВЛЕНИЕ</h4>
        </div>
    </div>
</div>