{% extends 'main/base.html' %}
{% load static %}

{% block title %}План-меню{% endblock %}

{% block content %}
<div id="recipe_page_container">
    <div id="days_order_block">
        {% for day, data in plan_menu.items %}
            <div>
                <a href="{% url 'delivery_day' day %}" class="week_day-delivery" id="{{ day }}">{{ data.name_rus.1 }}</a>
                <!-- перебираем словари дат заказа в корзине сессии. Если дата совпадает с текущей датой страницы,
                     то записываем кол-во добавленных в эту дату рецептов. Иначе пишем "ноль" -->
                <p class="gty_per_day">
                    {%for date, menu in request.session.cart.items %}
                        {% if date == data.delivery_date %}
                            <span id="meals_for_{{ day }}">{{ menu|length }}</span>/<span id="meals_need_for_{{ day }}">{{ data.qty_meals }}</span>
                        {% elif data.delivery_date not in request.session.cart.keys %}
                            0/{{ data.qty_meals }}
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>
    <!-- блок фильтров рецептов -->
    <div id="filter_recipes_block">

    </div>
    <!-- блок рецептов -->
    <div id="recipes-list">
        {% for recipe in recipes %}
        <div class="recipe-wrapper">
            <a href="{% url 'recipe_details' recipe.slug %}" class="recipe">
                <div class="recipe-photo">
                    <img src="{{ recipe.image.url }}" alt="рецепт">
                </div>
            </a>
            <div class="recipe-info-wrap">
                <div class="recipe-title-wrap">
                    <h3>{{ recipe.title }}</h3>
                </div>
                <div class="recipe-info-block">
                    <div class="kkal-info">
                        {{ recipe.kkal }}
                        <p>ккал</p>
                    </div>
                    <div class="p_f_c-info">
                        {{ recipe.protein }}/{{ recipe.fat }}/{{ recipe.carbohydrates }}
                        <p>БЖУ</p>
                    </div>
                    <div class="add-recipe-btn-wrap">
                        <form method="post" action="{% url 'add_to_cart' %}" class="form_recipe_add">
                            {% csrf_token %}
                            <button class="btn-add-recipe" type="submit"
                                    data-recipe="{{ recipe.id }}"
                                    data-name="{{ recipe.title }}"
                                    data-date="{{ weekday.delivery_date }}"
                                    data-image="{{ recipe.image.url }}">+</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

        <!---------------------------------- корзина для рецептов ----------------------------------->

    <div id="cart_recipes_page_wrap">
        <div id="cart_head">
            <h2 class="title-main-page">КОРЗИНА</h2>
            <div id="delivery_day">
                <p class="delivery_date-cart">Доставка планируется:</p>
                <p class="delivery_date-cart red">{{ weekday.name_rus.0 }} / {{ weekday.delivery_date }}</p>
            </div>
        </div>
        <div id="cart_recipes_block">
            <!--здесь перебор рецептов, которые поступают из данных контекстного процессора contexts.py-->
            {% for date, items in cart_items.items %}
            {% if date == weekday.delivery_date and items|length > 0 %}
            {% for item in items %}
            <div class="cart-item" id="recipe_id_{{ item.id }}">
                <div class="aside">
                    <a href="{% url 'recipe_details' item.recipe.slug %}">
                        <img src="{{ item.recipe.imageURL }}" class="img-sm">
                    </a>
                </div>
                <div class="info">
                    <div class="info-title">
                        <a href="{% url 'recipe_details' item.recipe.slug %}" class="title text-dark" data-abc="true">
                            {{ item.recipe.title }}
                        </a>
                        <!--Кнопка удаления рецепта-->
                        <button type="submit" class="btn-del_from_cart"
                                data-recipe="{{ item.recipe.id }}"
                                data-date="{{ weekday.delivery_date }}">x</button>
                    </div>
                        <!--Кнопки изменения кол-ва рецепта в корзине-->
                    <div class="meal_count_cart">
                        <button type="button" onclick="this.nextElementSibling.stepDown()" class="minus"
                            data-recipe="{{ item.recipe.id }}"
                            data-date="{{ weekday.delivery_date }}">-</button>
                        <input type="number" min="1" max="99" value="{{ item.q_portion }}" class="q_portion" readonly>
                        <button type="button" onclick="this.previousElementSibling.stepUp()" class="plus"
                            data-recipe="{{ item.recipe.id }}"
                            data-date="{{ weekday.delivery_date }}">+</button>
                    </div>
                </div>
			</div>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
        <div id="next_btn_wrap">
            <h5><span class="meals_added">{{ qty_meals_added }}</span>/{{ weekday.qty_meals }} Блюд</h5>
            <a href="{% url 'order_create' %}" role="button" aria-disabled="true" class="disable-btn-next-order">Далее</a>
            <p class="cart_messages">Добавьте блюда согласно плану-меню</p>
        </div>
        <input type="hidden" name="recipe_count" value="{{ need_meals }}" id="hidden_recipe_count">
    </div>
</div>
<!----------------------------------------- модальное окно корзины  ----------------------------------------------->
<div id="cart_lower" hidden>
    <button class="cartLinkModal"><span class="meals_added">{{ qty_meals_added }}</span>/{{ weekday.qty_meals }}</button>
    <div id="btn-cartModal">
        <a href="{% url 'order_create' %}" role="button" aria-disabled="true" class="disable-btn-next-order">Далее</a>
    </div>
    <p class="cart_messages">Добавьте блюда согласно плану-меню</p>
</div>

<div id="cartModal">
    <div id="cartModal__close" class="close">
        <img src="{% static 'main/img/plan_menu/down_arrow.png' %}" alt="down_arr">
    </div>
</div>

<div id="cartOverlay"></div>

<script type="text/javascript" src="{% static 'main/js/recipes.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/recipes_767px.js' %}"></script>
{% endblock content %}
