<!--Подтверждение на сброс пароля-->
{% extends "main/base.html" %}

{% block content %}

    {% if validlink %}
        <p>Введите и подтвердите свой новый пароль.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Подтвердите пароль:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Изменить мой пароль" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Сброс пароля невозможен</h1>
        <p>Ссылка сброса пароля не работает, т.к. возможно она была использована. Запросите сброс пароля еще раз.</p>
    {% endif %}

{% endblock %}