{% extends 'main/base.html' %}
{% load static %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
	<div class="order_container">
		<!--Шапка-->
		<header id="order_header">
			<h2 class="title-main-page">ОФОРМЛЕНИЕ ЗАКАЗА</h2>
		</header>

		<!--Блок с Рецептами заказа-->
		<div id="order_recipes">
			<p>БЕСПЛАТНАЯ ДОСТАВКА при покупке от 1000 руб.</p>
			<p>Блюд в корзине: {{ recipe_count }}</p>
			<hr>
			{% for date, items in cart_items.items %}
				{% if items|length > 0 %}
					<p class="over-info"><strong>{{ date }}</strong></p>
					{% for item in items %}
					<div class="cart-item">
						<div class="aside">
							<a href="">
								<img src="{{ item.recipe.imageURL }}" class="img-sm">
							</a>
						</div>
						<div class="info">
							<a href="" class="title text-dark" data-abc="true">
								{{ item.recipe.title }}
							</a>
							<p>{{ item.recipe.price }} р.</p>
							<p>Кол-во порций: {{ item.q_portion }}</p>
						</div>
					</div>
					<hr>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</div>

		<!--Блок с данными заказа-->
		<div id="order_data">
			<p><strong>Адрес доставки</strong></p>
			<form method="post" action="" class="form_order_create">
				{% csrf_token %}
				<div id="geolocation">
					<button id="find-me"></button>
					{{ form.address }}
					<p id="status"></p>
					<script type="text/javascript" src="{% static 'main/js/geolocation.js' %}"></script>
				</div>
				<br><br>
				<p><strong>Данные</strong></p>
					{{ form.name }}<br><br>
					{{ form.phone_number }}<br><br>
				<div id="form-address-block">
					{{ form.city }}<br><br>
					{{ form.street }}<br><br>
					{{ form.building }}<br><br>
					{{ form.apartment }}<br><br>
				</div>
				<p><strong>Оплата</strong></p>
				{{ form.pay_method }}<br><br>

				<p><strong class="over-info">Доп. информация</strong></p>
				<div id="order_at_door">
					{{ form.at_door }}
					<div>
						<p>Оставить заказ у дверей</p>
						<p style="color: #9e9e9e">Опция доступна только при оплате онлайн</p>
					</div>
				</div>
				<br>
				<div id="terms_and_politica">
					<input type="checkbox" id="terms_and_politica-check">
					<div>
						<p>Продолжая, Вы соглашаетесь с нашими Условиями и политикой конфиденциальности</p>
						<p>Вы будете получать рассылку от inKitchen</p>
					</div>
				</div>

				<hr>

				<div class="card-total_price-wrap">
					<div id="cart-total-price-block">
						<dl class="dlist-align">
							<dt>Итого к оплате:</dt>
							<dd class="text-right ml-3">{{ total }} руб.</dd>
						</dl>
						<dl class="dlist-align sm-text">
							<dt>Вы экономите:</dt>
							<dd class="text-right b ml-3"><u>00.00 руб.</u></dd>
						</dl>
					</div>
					<button type="submit" id="button-create-order">Оплатить</button>
				</div>
			</form>
		</div>
	</div>
	<!--скрипт обработки поля телефонного номера-->
	<script type="text/javascript" src="{% static 'main/js/telephone_prefix.js' %}"></script>
	<!--скрипт обработки доступности чекбокса "Оставить заказ у дверей"-->
	<script type="text/javascript" src="{% static 'main/js/order_page.js' %}"></script>
{% endblock %}