{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
	    <div class="row">
	        <aside class="col-lg-9">
	            <div class="card-cart">
	                <div class="table-responsive">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col" width="100">{{ request.session.cart|length }} блюд в корзине</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                    <tr>
                                        <td>
                                            <div class="price-wrap">
                                                <var class="price">{{ item.recipe }}</var>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
	                        </tbody>
	                    </table>
	                </div>
	            </div>
	        </aside>
	        <aside class="col-lg-3">
	            <!--<div class="card-cart mb-3">
	                <div class="card-body-cart">
	                    <form>
	                        <div class="form-group"> <label>Есть Купон?</label>
	                            <div class="input-group">
                                    <input type="text" class="form-control coupon" name="" placeholder="Код купона">
                                    <span class="input-group-append">
                                        <button class="btn btn-primary btn-apply coupon">Применить</button>
                                    </span>
                                </div>
	                        </div>
	                    </form>
	                </div>
	            </div>-->
	            <div class="card-cart">
	                <div class="card-body-cart">
	                    <dl class="dlist-align">
	                        <dt>Общая цена:</dt>
	                        <dd class="text-right ml-3">{{ total }} руб</dd>
	                    </dl>
	                    <dl class="dlist-align">
	                        <dt>Скидка:</dt>
	                        <dd class="text-right text-danger ml-3">100%</dd>
	                    </dl>
	                    <dl class="dlist-align">
	                        <dt>Итого:</dt>
	                        <dd class="text-right text-dark b ml-3"><strong>00.00 руб</strong></dd>
	                    </dl>
	                    <hr> <a href="{% url 'order_create' %}" class="button-recipe-create" data-abc="true"> Оформить заказ </a>
	                </div>
	            </div>
	        </aside>
	    </div>
	</div>
{% endblock %}