{% extends 'main/base.html' %}
{% load static %}

{% block content %}
	<div class="order_container">
		<!--Шапка-->
		<header id="order_header">
			<h2 class="title-main-page">ОФОРМЛЕНИЕ ЗАКАЗА</h2>
		</header>

		<!--Блок с Рецептами заказа-->
		<div id="order_recipes">
			<p>БЕСПЛАТНАЯ ДОСТАВКА при покупке от 1000 руб.</p>
			<p>Блюд в корзине: {{ request.session.cart|length }}</p>
			<hr>
			{% for item in cart_items %}
			<div class="cart-item">
				<div class="aside">
					<a href="{% url 'recipe_details' item.recipe.slug %}">
						<img src="{{ item.recipe.imageURL }}" class="img-sm">
					</a>
				</div>
				<div class="info">
					<a href="{% url 'recipe_details' item.recipe.slug %}" class="title text-dark" data-abc="true">
						{{ item.recipe.title }}
					</a>
					<p>{{ item.recipe.price }} р.</p>
					<p>Кол-во порций: {{ item.q_portion }}</p>
				</div>
				<!--Кнопка удаления рецепта-->
				<!--<form action="{% url 'remove_from_cart' item.id %}">
					<button type="submit" class="btn btn-sm">x</button>
				</form>-->
			</div>
			<hr>
			{% endfor %}
		</div>

		<!--Блок с данными заказа-->
		<div id="order_data">
			<p><strong>Адрес доставки</strong></p>
			<div class="geolocation">
				<button id="find-me"></button><br/>
				<p id="status"></p>
				<p id="map-link"></p>
				<script type="text/javascript" src="{% static 'main/js/geolocation.js' %}"></script>
			</div>
			<form method="post" enctype="multipart/form-data" class="form_order_create">
				{% csrf_token %}

				{{ form.address }}
				<p><strong>Данные</strong></p>
				{{ form.name }}<br><br>
				{{ form.phone_number }}<br><br>
				{{ form.city }}<br><br>
				{{ form.street }}<br><br>
				{{ form.building }}<br><br>
				{{ form.apartment }}<br><br>

				<p><strong>Оплата</strong></p>
				{{ form.pay_method }}<br><br>

				<p><strong>Доп. информация</strong></p>
				{{ form.at_door }}<br><br>

				<button type="submit" class="btn btn-primary">Создать</button>
			</form>

			<div class="card-body-cart">
				<dl class="dlist-align">
					<dt>Общая цена:</dt>
					<dd class="text-right ml-3">{{ total }} руб</dd>
				</dl>
				<dl class="dlist-align">
					<dt>Скидка:</dt>
					<dd class="text-right text-danger ml-3">100%</dd>
				</dl>
				<dl class="dlist-align">
					<dt>Итого:</dt>
					<dd class="text-right text-dark b ml-3"><strong>00.00 руб</strong></dd>
				</dl>
				<hr> <a href="{% url 'order_create' %}" class="button-recipe-create" data-abc="true"> Оплатить </a>
			</div>
		</div>
	</div>
{% endblock %}