{% extends 'main/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="about">
        <p>Мэйк Тру, ООО, российская технологическая компания, создатель платформы <b>inKitchen</b> -
            доставки готовых блюд и свежих продуктов из любимых ресторанов. </p>

        <p>Наша компания основана в 2019 года. Наша миссия - <b>каждый может готовить дома блюда
        любимого ресторана.</b> Пользователи платформы - гости ресторана и все кто любит готовить
        вкусно, и получать от этого удовольствие. С <b>inKitchen</b> - готовим дома из свежих продуктов,
        тщательно отобранных и рассчитанных порционно шеф-поваром любимого ресторана.</p>

        <p>Используя сервис нашего сайта - подписку на доставку готовых блюд и свежих продуктов из
        ресторанов-партнеров платформы <b>inKitchen</b>, вы существенно экономите свое времени на
        выбор продуктов, получаете гарантии контроля качества и свежести продуктов от
        профессионалов, но в первую очередь - это положительные эмоции, которые Вы получаете
        дома готовя блюда по рецепту профессионала - шеф-повара!</p>
    </div>

{% endblock content %}