{% load static %}
<!-- базовый шаблон для всех страниц -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <!--не менять версию jquery из-за динамических ингредиентов-->
        <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>

        <!--стили и обработка кнопок добавления ингредиентов при создании рецептов-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />

        <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
        <script type="text/javascript" src="{% static 'main/js/accordion.js' %}"></script>

        <!-----------------------------------------------Слайдер стили--------------------------------->
        <link rel="stylesheet" href="{% static 'main/css/slider.css' %}">
        <!---------------------------------------------------------------------------------------------->
        <!-----------------------------------------------Корзина стили--------------------------------->
        <link rel="stylesheet" href="{% static 'main/css/cart.css' %}">
        <!---------------------------------------------------------------------------------------------->
        <!-----------------------------------------------План меню стили--------------------------------->
        <link rel="stylesheet" href="{% static 'main/css/plan_menu.css' %}">
        <!---------------------------------------------------------------------------------------------->
        <!-----------------------------------------------Рецепты стили--------------------------------->
        <link rel="stylesheet" href="{% static 'main/css/recipes.css' %}">
        <!---------------------------------------------------------------------------------------------->

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="wrapper-base">
            <!--------------------------------- navbar ------------------------------------------------->
            <nav class="top-menu two">
                <a class="navbar-logo" href="{% url 'home' %}">
                    <img class='logo' src="{% static 'main/img/logo_navbar.png' %}" alt="Logo">
                </a>
                <ul class="menu-main">
                    {% if user.is_authenticated %}
                        <li><a href="#"> МОЙ ПРОФИЛЬ<i class="fa fa-angle-down fa-user"></i></a>
                            <ul class="submenu">
                                <li class="sub"><a href="{% url 'profile' %}">Личный кабинет</a></li>
                                <li class="sub"><a href="{% url 'logout' %}">Выйти</a></li>
                            </ul>
                        </li>

                        <li><a href="{% url 'cart_detail' %}" style="color: #dd5600;">
                                <i class="fa fa-shopping-cart"></i> Корзина
                                {% if recipe_count > 0 %}
                                    <label class="badge badge-warning">{{ recipe_count }}</label>
                                {% endif %}
                            </a>
                        </li>
                    {% else %}
                        <!--<li><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Регистрация</a></li>
                        <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Войти</a></li>-->
                    {% endif %}
                    <li><a href="{% url 'recipes' %}"><i class=""></i> МЕНЮ</a></li>
                    <li><a href="{% url 'about' %}">О НАС</a></li>
                    <li><button class="subscribe-btn sub-navbar" onclick="openForm()">Подписаться</button></li>
                </ul>
            </nav>
            <!-- /.navbar -->
            <!-- Сообщения при входе, выходе, регистрации аккаунта -->
            {% if messages %}
                <div class="alert alert-success">
                    <div class="messages">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- Конец блока сообщений -->
            <!------------------------------блок popup формы подписки-------------------------------->
            <div class="form-popup" id="myForm">
                <a href="#" class="close-login-popup" onclick="closeForm()"></a>
                <form action="#" class="form-container-subscribe">
                    <h3>Подписаться</h3>
                    <input type="text" placeholder="Ваш Email" name="email" required>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
            <script>
                function openForm() {
                    document.getElementById("myForm").style.display = "block";
                }

                function closeForm() {
                    document.getElementById("myForm").style.display = "none";
                }
            </script>
            <!----------------------------конец блока popup формы подписки---------------------->

            <!----------------------------блок контента------------------------>
            <div class="content-base" id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!----------------------------Подвал------------------------>
        <footer class="container-fluid">
            <div class="">
                <div class="col-sm-12"></div>
                <h6 class="uppercase general-sub" style="color: white">Связаться с нами через соц сети</h6>
                <ul class="list-inline social-links">
                    <li><a target="_blank" href="https://twitter.com/?lang=nl"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://instagram.com"><i class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://youtube.com"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>