{% extends 'main/base.html' %}
{% load static %}
{% block title %}inKitchen{% endblock %}

{% block content %}
<div id="main-page-content">
<!--------------------------------Блок главного баннера, формы регистрации и логина--------------------------->
    <div class="banner">
        <div class="login-case">
            <h2>Готовые блюда и свежие продукты </h2>
            <h2>из ресторанов</h2>
            <p>Продукты к блюдам отобраны и рассчитаны порционно экспертами и диетологами</p>
            {% if user.is_authenticated %}
             <!--Если User авторизован, то ...-->
            {% else %}
            <!--Если User не авторизован, то он видит popup-формы для регистрации и входа-->
                <form method="post" class="continue-register-form">
                    {% csrf_token %}
                    {{ register_form.email }}
                    <button type="button" class="orange-btn register" onclick="openRegisterForm()">Продолжить</button>
                </form>
                <script type="text/javascript" src="{% static 'main/js/available_email.js' %}"></script>
                <p class="do_have_acc">Есть аккаунт?
                    <button type="button" onclick="openLoginForm()">Войти</button>
                </p>
            <!--------------------------------блок popup формы логина-------------------------------->
                <div class="login-wrapper-popup" id="loginForm">
                    <a href="#" class="close-login-popup" onclick="closeLoginForm()"></a>
                    <form method="post" action="{% url 'login' %}?next={{ next }}" class="login-form-popup">
                        <fieldset class="form-group">
                            <legend>Войти</legend>
                            {% csrf_token %}
                            <p>Введите email</p>
                            {{ login_form.email }}<br><br>
                            <p>Введите пароль</p>
                            {{ login_form.password }}<br><br>
                            <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
                            <button type="submit" class="orange-btn">Войти</button>
                        </fieldset>
                    </form>
                </div>
                <script>
                    function openLoginForm() {
                        document.getElementById("loginForm").style.display = "block";
                    }

                    function closeLoginForm() {
                        document.getElementById("loginForm").style.display = "none";
                    }
                </script>
            <!----------------------------конец блока popup формы логина-------------------------------->

            <!------------------------------блок popup формы регистрации-------------------------------->
                <div class="register-wrapper-popup" id="registerForm">
                    <a href="" class="close-login-popup" onclick="closeRegisterForm()"></a>
                    <form method="post" action="{% url 'register' %}" class="register-form-popup">
                        <fieldset class="form-group">
                            <legend>Регистрация</legend>
                            {% csrf_token %}
                            <p>Введите email</p>
                            <!--здесь нужно автозаполнение поля емайл-->
                            {{ register_form.email }}<br><br>
                            <p>Введите пароль</p>
                            {{ register_form.password1 }}<br><br>
                            <p>Повторите пароль</p>
                            {{ register_form.password2 }}<br><br>
                            <p>Выберите категорию</p>
                            {{ register_form.group }}<br><br>
                            <button type="submit" class="orange-btn">Создать аккаунт</button>
                        </fieldset>
                    </form>
                </div>
                <script>
                    function openRegisterForm() {
                        document.getElementById("registerForm").style.display = "block";
                    }

                    function closeRegisterForm() {
                        document.getElementById("registerForm").style.display = "none";
                    }
                </script>
            <!------------------------------конец блока popup формы регистрации-------------------------------->
            {% endif %}
        </div>
    </div>
<!------------------------------------------конец блока главного баннера, форм логина и регистрации--------------------->
    <div class="how-to-work-wrapper">
        <h1 class="how-to-work-title">КАК ЭТО РАБОТАЕТ</h1>
        <div class="how-to-work-icons-block">
            <div class="how-to-work-icon" id="ic01"><p>Выберите кол-во блюд на каждый день</p></div>
            <div class="how-to-work-icon" id="ic02"><p>Выберите дату и время доставки</p></div>
            <div class="how-to-work-icon" id="ic03"><p>Выберите блюда</p></div>
            <div class="how-to-work-icon" id="ic04"><p>Готовьте дома</p></div>
        </div>
    </div>

<!----------------------------------------------слайдер рецептов--------------------------------------->
    <div class="recipes-menu-scroll" style="background-image: url(static/main/img/recipe_banner.jpg);">
        <div class="opacity-layer">
            <section class="showcase-section">
                <h2 class="title-main-page">ЧТО СЕГОДНЯ ПРИГОТОВИТЬ?</h2>
                <a href="{% url 'recipes' %}" class="orange-btn">Перейти в меню</a>
            </section>
            <div class="slider">
                {% for recipe in recipes %}
                    <div class="slider-item">
                        <a href="{% url 'recipe_details' recipe.slug %}" class="recipe">
                            <div class="recipe-photo-carousel">
                                <img src="{{ recipe.image.url }}" alt="рецепт">
                            </div>
                        </a>
                        <div class="recipe-info">
                            <h3>{{ recipe.title }}</h3>
                        </div>
                    </div>
                {% endfor %}
                <!--подключаем JQuery-->
                <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                <!--подключаем слайдер Slick-->
                <script type="text/javascript" src="{% static 'main/js/slick.min.js' %}"></script>
                <!--подключаем файл скриптов-->
                <script type="text/javascript" src="{% static 'main/js/slide.js' %}"></script>
            </div>
        </div>
    </div>

<!--------------------------------------------------Часто задаваемые вопросы----------------------------------------->
    <div class="often-questions">
        <h2 class="title-main-page">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ?</h2>
        <button class="accordion">Сколько порций в моем плане?</button>
        <div class="panel-questions">
            <p>Сколько бы не было, все твои!</p>
        </div>

        <button class="accordion">Рекомендуется ли мне какая-то диета?</button>
        <div class="panel-questions">
            <p>Какая еще диета!? Живем один раз!</p>
        </div>

        <button class="accordion">Могу ли выбрать магазин?</button>
        <div class="panel-questions">
            <p>Магазин уже выбрал тебя!</p>
        </div>

        <button class="accordion">Как работает доставка?</button>
        <div class="panel-questions">
            <p>Доставка пока не работает</p>
        </div>

        <button class="accordion">Как работает подписка?</button>
        <div class="panel-questions">
            <p>Так же как и доставка</p>
        </div>
        <a name="menu"></a> <!--якорь для перехода по пункту "План доставки"-->
    </div>

<!--------------------------------------------------Блок выбора плана питания------------------------------------------------->

    <div class="card-grid">
        <h2 class="title-main-page">ВЫБЕРИТЕ ПЛАН</h2>

        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            {{ menu_formset.management_form }}
            <div id="plan-menu-container">
                {% for form in menu_formset %}
                <div class="delivery_day_container">
                    <div class="date_field_menu">
                        {{ form.delivery_date }}
                    </div>
                    <div class="plan_img-container">
                        <div class="plan-image">
                            <img src="{% static 'main/img/plan_menu/4.jpg' %}" />
                        </div>
                        <div class="qty_meals_menu">
                            {{ form.qty_meals }}
                            <p>блюд в день</p>
                        </div>
                    </div>
                    <div class="time_field_menu">
                        {{ form.delivery_time }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="orange-btn">Продолжить</button>
        </form>
        <script src="{% static 'main/js/timepicker.js' %}"></script>
        <script>
            $(function () {
                $('.bs-timepicker').timepicker();
            });
        </script>
    </div>
</div>
{% endblock content %}