.showcase-section{
  height: 150px;
  text-align: center;
  padding: 1rem;
}
.showcase__carousel--container{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  align-items: center;
}
.showcase__carousel--content{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  float: left;
  position: absolute;
  left: 50%;
  right: 50%;

}
.showcase__carousel--item{
    background-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    margin: 0 8px;
    display: inline-block;
    float: left;
    transition: width .2s;
	padding: 15px;
	min-width: 200px;
}

.fa-chevron-right, .fa-chevron-left {
    font-size: 6rem;
    display: inline-block;
    margin-top: 100px;
}
.opacity-layer {
    background: rgba(205, 214, 219, 0.3);
    height: 500px;
    margin: 3% 8%;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
}

.recipe-photo-carousel {
    position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}

.recipe-photo-carousel img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	transition: transform .4s ease-out;
	object-fit: cover;
    width: 300px;
    height: 200px;
}
.recipe:hover .recipe-photo-carousel img {
	transform: scale(1.05);
}
