.card-total_price-wrap {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .card-total_price-wrap {
        flex-wrap: wrap;
    }
}

.table-shopping-cart .price-wrap {
    line-height: 1.2
}

.table-shopping-cart .price {
    font-weight: bold;
    margin-right: 5px;
    display: block
}

.text-muted {
    color: #969696 !important
}

.card-cart {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0px
}

.dlist-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

[class*="dlist-"] {
    margin-bottom: 5px
}

.price {
    font-weight: 600;
    color: #212529
}

.btn.btn-out {
    outline: 1px solid #fff;
    outline-offset: -5px
}

.btn-main {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
    color: #fff;
    width: 100%
}

.btn-light {
    color: #ffffff;
    background-color: #F44336;
    border-color: #f8f9fa;
    font-size: 12px;
    background-image: none;
}

.btn-light:hover {
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336
}

.btn-apply {
    font-size: 11px
}

.wrapper-cart {
   display: flex;
   flex-wrap: wrap;
   margin-top: 30px;
}

.recipe-cart{
    font-family: calibri;
    font-size: 18px;
    width: 340px;
    margin: 20px
}

.recipe-cart-img {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 150px;
    margin: 0 auto;
}
.total-price{
    margin-right: 50px;
    margin-top: 30px;
    float: right;
}
.icon-bar {
    background-color: #fff;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

caption p {
    word-wrap: break-word;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

/*--------------------------------------корзина на странице рецептов-------------------------------------------------*/
#cart_head h2{
    text-align: center;
}

#cart_head {
    margin: 30px 15px 0;
}

#cart_recipes_block {
    height: 600px;
    border-bottom: 1px solid #dee2e6;
    overflow-y:scroll;
}

#cart_recipes_page_wrap {
    grid-area: cart;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.q_portion {
    all: unset;
    -moz-appearance: textfield;
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin: 0 -20px;
}

.q_portion::-webkit-inner-spin-button {
    display: none;
}

.meal_count_cart {
    display: flex;
    border-top: 2px solid #dee2e6;
    height: 30px;
    padding-left: 75%;
}

.meal_count_cart button{
    font-size: 20px;
    height: 30px;
    width: 20px;
    border: none;
    background: white;
}
.plus, .q_portion {
    color: #FC453B;
}
.minus {
    z-index: 2;
}

.info-title {
    display: flex;
    height: 70px;
}

.text-dark {
    width: 90%;
    padding-top: 15px;
}

.active-btn-next-order:hover, .btn-add-recipe:hover {
    background-color: #ff5f56;
    text-decoration: none;
    color: white;
}

.active-btn-next-order, .disable-btn-next-order {
    transition: .1s ease-in;
    margin: auto;
    width: 250px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    display: block;
    font-size: 20px;
    border-radius: 50px;
}

.active-btn-next-order {
    background: #e5433a;
}

.disable-btn-next-order {
    background: #c9c0bb;
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
}

.delivery_date-cart.red {
    color: #FC453B;
}
.delivery_date-cart {
    font-size: 16px;
    margin: 0;
}

.btn-del_from_cart {
    padding-bottom: 30px;
    border: none;
    background-color: white;
    width: 20px;
}

#cart_lower {
    height: 100px;
    min-width: 100%;
    border-top: 1px solid #dee2e6;
    text-align: center;
    position: relative;
}
.cartLinkModal {
    font-size: 20px;
    color: black;
    width: 100px;
    border: none;
    border-top: 1px solid #dee2e6;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    bottom: 85px;
    left: 50%;
    margin-left: -50px;

}
.meals_added {
    color: #FC453B;
}
.cart_messages{
    margin-top: 10px;

}
/*---------------------------------------корзина на странице заказа--------------------------------------------------*/
.order_container {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 100%;
    grid-template-areas: "header header"
                         "recipes data";
    margin: 50px 70px;
}

#order_header {
    grid-area: header;
    text-align: center;
    /*border: 1px dashed;*/
}

#order_recipes {
    grid-area: recipes;
    padding: 20px 20px 20px 0;
    height: 850px;
    overflow-y: scroll;
}

#order_data {
    grid-area: data;
    padding: 20px;
}

@media screen and (max-width: 767px){
    .order_container {
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px auto auto;
        grid-template-areas: "header "
                             "recipes"
                             "data";
        margin: 50px 30px;
    }
    #order_recipes {
        padding: 20px 0;
        height: auto;
        border-bottom: 1px solid;
    }
}

.cart-item {
    display: flex;
    margin: 15px;
}

.info {
   padding: 0 0 0 10px;
   float: left;
   width: 60%;
}

a {
   text-decoration: none !important
}

.aside {
   width: 130px;
}
.img-sm {
    display: block;
    max-width: 100%;
    height: 100px;
    width: 130px;
    object-fit: cover
}

#find-me {
    background-image: url(../img/geolocation_icon.png);
    background-color: white;
    height: 33px;
    width: 23px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    transition: 0.5s;
    margin-right: 10px;
}

#find-me:hover {
    transform: scale(1.1);
}

.form-order {
    display: inline;
    padding: 7px 10px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#id_phone_number_0 {
    width: 150px;
}

#button-create-order {
    background: #e5433a;
    transition: .1s ease-in;
    width: 200px;
    height: 40px;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    display: block;
    font-size: 20px;
    border-radius: 50px;
}

@media screen and (max-width: 1024px){
    #button-create-order {
        width: 130px;
    }
}

#button-create-order:hover {
    background: #ff5f56;
}

.text-right, .over-info {
    color: #e5433a;
}
.sm-text {
    font-size: 12px;
}

#id_pay_method {
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media screen and (max-width: 768px){
    #id_pay_method {
        width: auto;
    }
    .order_container {
        margin: 50px 30px;
    }
}

input[type='radio'],
label {
    cursor: pointer;
}

input[type='radio'] {
    position: relative;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 15px;
}

input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #e5433a;
}

input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e5433a;
    transform: translate(-50%, -50%);
    visibility: visible;
}

#id_pay_method label,
#terms_and_politica,
#order_at_door,
#geolocation {
    display: flex;
}

#terms_and_politica p,
#order_at_door p{
    margin: 0;
    font-size: 13px;
}

#id_at_door,
#terms_and_politica-check{
    margin: 4px 10px 0 0;
    background-color: #fff;
    border: 1px solid #e5433a;
    border-radius: 50%;
    cursor: pointer;
}
.form_order_create input#id_address {
    border-color: #c0c0c0;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 5px 20px 5px;
    width: 80%;
}

#id_name,
#id_phone_number_0,
#id_phone_number_1,
#id_city,
#id_street,
#id_building,
#id_apartment {
    border: none;
    border-bottom: 2px solid #c0c0c0;
    outline: none;

}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

#form-address-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 80%;
}

#id_building {
    width: 60px;
}