#content-market {
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 55% 45%;
    grid-template-areas: "catalog cart"
                         "catalog order";
}

.catalog-market {
    grid-area: catalog;
    border-right: 2px solid #eee;
}

.cart-market {
    grid-area: cart;
    text-align: center;
}

.order-market {
    grid-area: order;
    background-color: #eee;
}

/*разметка блока с продуктами*/
.wrapper_products {
    display: flex;
    flex-wrap: wrap;    /*перенос продуктов на строку ниже при нехватки места*/
    justify-content: center;
    margin: 10px;
    overflow-y: scroll;
    height: 600px;
}

.item_market {
    float: left;
    transition: width .2s;
    padding: 10px;
    margin-top: 20px;
    width: 200px;
}

.product_img_wrap {
    height: 170px;
    border-radius: 5%;
    box-shadow: 0 4px 14px rgb(0 0 0 / 20%);
    padding: 10% 0;
}

.product_img_wrap img {
    border-radius: 5%;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.btn_add_product_market {
    border: 2px solid #F15E45;
    border-radius: 50px;
    width: 100px;
    padding: 5px;
    color: #F15E45;
    cursor: pointer;
    background-color: white;
}

.name_product_market {
    height: 38px;
}

/*блок форм заказа*/

/*блок итоговой стоимости*/
.wrap-order_forms {
    display: flex;
}

#total_price-block {
    border-top: 2px solid #fafafa;
}
#checkout_forms,
#total_price-block table{
    margin: 25px 0 25px 40px;
}

#checkout_forms {

}
#title_address_forms,
#title_pay_method_forms,
#title_promo_forms{
    width: 110px;
}
#title_address_forms,
#title_pay_method_forms,
#title_promo_forms,
.checkout_forms-arrows,
#total_price-block table td{
    padding: 10px 0 10px 0;
    cursor: pointer;
}
.checkout-total_sum {
    text-align: right;
    width: 50%;
}
.checkout_forms-arrows {
    padding-left: 60px;
}
.arrow {
      width: 8px;
      height: 8px;
      border-top: 2px solid #e5433a;
      border-right: 2px solid #e5433a;
      transform: rotate(135deg);
      color: #e5433a;
      margin-top: 3px;
}

.open {
    transform: rotate(315deg);
}

#pay_method-online,
#pay_method-on_delivery{
    height: 10px;
}

#content_block_pay_method {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
#content_block_pay_method label {
    margin: 0 0 10px 0;
}

#content_block_address input,
 #content_block_promo input {
    border-color: #ff5f56;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    padding: 5px 20px 5px;
    margin: 5px;
}
