/*-------------------------------------------------------Navbar----------------------------------------------*/

.top-menu {
    background: #fff;
    max-width: 1920px;
    margin: 0px auto;
    padding: 5px;
    position: fixed;
    width: 100%;
    height: 55px;
    top: 0;
    z-index: 50;
    border-bottom: 1px solid #dee2e6
}

.navbar-logo {
    display: inline-block;
    position:relative;
    z-index: 3;
}

.navbar-logo img{
    width: 150px;
    height: 35px;
}
.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  font-size: 14px;
  display: flex;
  flex-wrap: nowrap;
}

.navbar-menu a {
    display: block;
    position: relative;
    padding-left: 20px;
    color: black;
    /*данное свойство отвечает за плавное изменение ширины.
    Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
    transition: width 0.4s ease-in-out;
}

.navbar-menu li:hover {
    text-decoration: underline      /*нижнее подчеркивание при наведение на элементы navbar*/
}

/*------------------------------выпадающее меню МОЙ ПРОФИЛЬ------------------------------*/
.two .user-submenu {
    visibility: hidden;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.two ul li:hover .user-submenu {
    visibility: visible;
}
.user-submenu {
    position: absolute;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    display: grid;
}
.user-submenu li a {
    border-bottom: 1px solid rgba(255,255,255,.3);
    color: black;
}
.sub {
    transform: none;
}
/*----------------------------------------------burger--------------------------------------------------------*/
#btn-market-navbar {
    margin: 0 10px;
}

.menuToggle{
    color: #000;
    cursor: pointer;
    display: none;
}

/*Бургер меню скрыто до размера экрана в 767рх*/
@media screen and (max-width: 767px){
    .menuToggle {
        display: block;
    }
    .navbar-logo {
        display: none;
    }
    .navbar-menu {
        display: none;
        position: absolute;
        background: #fff;
        width: 100%;
        margin-left: -20px;
        padding-left: 10px;
        height: 160px;
        border-bottom: 1px solid;
    }
    .two .user-submenu {
        margin-left: 130px;
    }
    #btn-market-navbar {
        margin: 10px 0 0 0;
    }
}
.navbar-menu li {
    display: block;
    margin-top: 10px;
}

.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 10px;
}

.hamburger {
    width: 40px;
    height: 4px;
    transform: translate(-50%, -50%);
    background: #000;
    transition: 0.5s;
    display: inline-block;
    margin-left: 12px;
}

.hamburger:before,
.hamburger:after {
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    background: #000;
    transition: 0.5s;
}

.hamburger:before {
    top: -16px;
}

.hamburger:after {
    top: 16px;
}

.icon.active-burger .hamburger {
    background: rgba(0, 0, 0, 0);
}

.icon.active-burger .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active-burger .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}
/*burger*/