.card-grid *,
.card-grid *:after {
    box-sizing: border-box;
}
.card-grid {
    box-sizing: border-box;
    margin: 20px auto;
    max-width: 1300px;
    text-align: center;
}

#plan-menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.delivery_day_container {
    margin: 0 10px;
    max-width: 165px;
}

.date_field_menu input,
.time_field_menu input,
.qty_meals_menu input{
    text-align: center;
    max-width: 145px;
    font-size: 20px;
    border: none;
    transition: .3s ease-in;
}

.date_field_menu input {
   background-color: #ffb938;
}

.time_field_menu input:hover {
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.qty_meals_menu input{
    padding: 0 40px 0 60px;
}
.plan-image {
    overflow: hidden;
    position: relative;
    width: 145px;
}
.plan-image img {
    width: 100%;
    transition: transform 0.5s ease-out;
}
.plan_img-container {
    margin: 15px 0;
    padding: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}