.card-grid *,
.card-grid *:after {
    box-sizing: border-box;
}
.card-grid {
    box-sizing: border-box;
    margin: 20px auto;
    max-width: 1000px;
    padding: 0;
    text-align: center;
}

.card {
    border-radius: 0;
    margin: 0 10px 0 10px;
}
.card-radio {
    font-size: inherit;
    margin: 0;
    position: absolute;
    right: 16px;
    top: 16px;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .card-radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #fff;
        border: 3px solid #BFE2FF;
        border-radius: 50%;
        cursor: pointer;
        height: 28px;
        width: 28px;
        outline: none;
        transition: background 0.2s ease-out, border-color 0.2s ease-out;
    }
    .card-radio::after {
        border: 3px solid #fff;
        border-top: 0;
        border-left: 0;
        content: '';
        display: block;
        height: 16px;
        left: 26%;
        position: absolute;
        top: 50%;
        transform: rotate(45deg) translate(-50%, -50%);
        width: 8px;
    }
    .card-radio:checked {
        background: rgb(223 80 3);
        border-color: rgb(223 80 3);
    }

    .card:hover .card-radio {
        border-color: #337AB7;
    }
    .card:hover .card-radio:checked {
        border-color: rgb(223 80 3);
    }
}
.plan-details {
    cursor: pointer;
    padding: 14px 16px;
    height: 100%;
    transition: border-color 0.2s ease-out, box-shadow 0.3s ease-out;
}
.card:hover .plan-details {
    border-color: #337AB7;
    box-shadow: 0 4px 14px rgba(0,0,0,0.2);
}
.card-radio:checked ~ .plan-details {
    border-color: green;
}
.plan-image {
    overflow: hidden;
    position: relative;
    margin: 14px 0;
}
.plan-image img {
    width: 100%;
    transition: transform 0.5s ease-out;
}
.card:hover .plan-details .plan-image img,
.card-radio:checked + .plan-details .plan-image img {
    transform: scale(1.2);
}

.plan-cost {
    position: absolute;
    bottom: 12px;
    right: 20px;
}

.plan-menu-group {
    display: flex;
}