/*----------------------------------------------разметка страницы с рецептами-----------------------------------------*/
#recipe_page_container {
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100px 60px 85%;
    grid-template-areas: "days days"
                         "filter filter"
                         "recipes cart";
    margin: 0 70px;
}

#days_order_block {
    grid-area: days;
    text-align: center;
    border: 1px dashed;
    display: flex;
    justify-content: center;
}
#days_order_block div {
    margin: 30px 20px 0 20px;
}

#filter_recipes_block {
    grid-area: filter;
    border: 1px dashed;
}

#recipes-list {
    display: flex;
    grid-area: recipes;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
/*-----------------------------------------------------------------------------------------------------------------*/

.p_f_c-form {
    display:flex;
}
.recipe-wrapper {
	transition: width .2s;
	margin: 0 15px 30px 15px;
	width: 250px;
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

div.recipe {
	display: block;
	border: 1px solid #b5e9a7;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
	height: 300px;
}

.recipe-photo {
    position: relative;
	overflow: hidden;
}

.recipe-photo img {
	margin: auto;
	transition: transform .4s ease-out;
	object-fit: cover;
    width: 250px;
    height: 150px;
    max-width:100%;
}
.recipe:hover .recipe-photo img {
	transform: scale(1.05);
}

.recipe-info-wrap {
  background: #fafafa;
  padding: 10px;
}
.recipe-info-wrap h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}

.recipe-info-block {
    display: flex;
    flex-wrap: nowrap;
}

.price {
  font-size: 16px;
  display: block;
  margin-bottom: 12px;
}
.button-recipes-list {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #dd5600;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
}
.recipe:hover .button {background: #fc5a5a;}

/*кнопка создания рецепта старый стиль*/
.button-recipe-create {
    background: #dd5600;
    transition: .1s ease-in;
    margin: 30px auto auto;
    width: 250px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    border-radius: 50px;
}

.form-inline .input-group {
    width: 100px;
}

.input-group.ingredient {
    position: relative;
    display: flex;
    border-collapse: separate;
}

.input-group-append {
    display: inline-block;
}

.a-recipe {
    float: left;
    margin: 50px;
    width: 500px;
}

.title-one-recipe {
    color: black;
}

.spacer {
    margin: 0;
}

.edit-recipe-button {
    display: table;
    font-size: 15px;
    color: black;
    margin-bottom: 5px;
}
.edit-recipe a, .remove-recipe a {
    color: white;
}

.qty-portions{
    display: inline-block;
    width: 54%;
}

form.form-create-recipe {
    margin-left: 5%;
    margin-top: 5%;
    width: 500px;
}

.btn-add-recipe {
    background-color: #FC453B;
    color: white;
    font-size: 30px;
    width: 45px;
    border: none;
    float: right;
}

.kkal-info, .p_f_c-info {
    margin: 5px 0 0 0;
    text-align: center;
    height: 40px;
    padding: 0 10px;
    flex: 1 0.8 auto;
}
.kkal-info {
    border-right: solid gray;
}
.p_f_c-info {
    width: 80px;
}
.recipe-info-block p{
    margin-bottom: 0;
}

.add-recipe-btn-wrap {
    -webkit-flex: 3 1 40px;
    -ms-flex: 3 1 40px;
    flex: 3 1 40px;
}

.recipe-title-wrap {
    height: 50px;
}

#next_btn_wrap, .title-cart-wrap {
    text-align: center;
}

.week_day-delivery {
    border: 2px solid #F15E45;
    border-radius: 50px;
    width: 110px;
    padding: 5px;
    color: #F15E45;
    cursor: pointer;
}

.gty_per_day {
    margin: 15px 0 0 0;
}